.body {
    background-color: darkblue;
}

.h1 {
    padding: 20px;
    float: left;
    display: inline-block;
    color: white;
}

.links {
    padding: 20px;
    display: inline-block;
    float: right;
    display: inline-block;
    color: white;
}

a{
    color: white;
}

.about-me {
    color:white;
    background-color: black;
    height: 700px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 50px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 20px;
    display: flex;
}

.image-1 {
    width: 80%;
    height: 90%;
    float: right;
}

.my-work {
    height: 2500px;
    margin-bottom: 40px;
    padding: 50px;
    color: white;
    background-color: black;
}

.container {
    position: relative;
    text-align: center;
    color:white;
}

.image-2 {
    width: 100%;
    height:1000px;
    margin-bottom: 50px;
}

.top-left {
    position:absolute;
    top: 8px;
    left: 16px;
}

.container-2 {
    position: relative;
    text-align: center;
    color:white;
    margin-bottom: 50px;
}

.image-2-1 {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

.top-left-2 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.container-3 {
    position: relative;
    text-align: center;
    color:white;
    
}

.image-2-2 {
    width: 100%;
    height: 600px;
    
}

.top-left-3 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.contact-me{
    height: 600px;
    margin-bottom: 40px;
    padding: 50px;
    color: white;
    background-color: black;
}


.image-3 {
    width: 80%;
    height: 90%;
    float: right;
}